#lego-one {
    height: 200px;
    width: 200px;

}

#lego-two {
    height: 200px;
    width: 200px;

}

#lego-three {
    height: 200px;
    width: 200px;
}

#lego-four {
    height: 200px;
    width: 200px;

}
